.title {
  display: flex;
  flex-direction: column;
  flex-grow: 10%;
  align-items: center;
  user-select: none;

  background-color: var(--bg);
  box-shadow: 0px 8px 8px #000;
}

.title h1 {
  color: var(--text);
}

.ribbon {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 20px;

  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid var(--bg);
}

input {
  border: none;
  background-color: var(--bg-light);

  padding: 5px;
  margin: 3px;
}

button {
  border: none;
  background-color: var(--bg-light);
  box-sizing: border-box;
  
  margin: 0px;
  padding: 10px;
}

button:hover {
  background-color: var(--accent);
}

.loggedInUser {
  position: absolute;
  right: 0px;
  padding: 20px;
}

select {
  border: none;
  background-color: var(--bg-light);

  padding: 5px;
  margin: 3px;
}