:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark:  #1f1f1f;
    --bg:       #323232;
    --bg-light: #464646;
    --highlight:#686868;

    --text:       #FFF;
    --text-muted: #888;
    
    --accent-dark: #271635;
    --accent:      #472960;
    --accent-light:#663d89;
    
    --primary: hsl(105 33% 63%);
    --secondary: hsl(286 46% 74%);
    
    --danger: hsl(9 42% 65%);
    --warning: hsl(51 29% 53%);
    --success: hsl(148 27% 56%);
    --info: hsl(217 46% 66%);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  text-align: center;
  height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}