.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nntable {
  margin-top: auto;
  padding-bottom: 30px;
}

.nntable .lefttd {
  width: min-content;
}

.nntable input {
  width: 100%;
  box-sizing: border-box;
}



.incompleteStudent {
  margin: 10px;
  width: auto;
}

.incompleteStudent .studentButton {
  width: 70%;
  box-sizing: border-box;
}

.incompleteStudent .numberLabel {
  width: 8%;
  margin: 1%;
  box-sizing: border-box;
}

.incompleteStudent .numberLabel:hover {
  background-color: var(--social-bg);
}

.incompleteStudent .removeButton {
  width: 20%;
  box-sizing: border-box;
}



.completeStudent {
  margin: 10px;
  width: auto;
}

.completeStudent .studentButton {
  background-color: var(--accent-bg);
  width: 70%;
  box-sizing: border-box;
}

.completeStudent .studentButton:hover {
  background-color: var(--accent-border);
}

.completeStudent .numberLabel {
  background-color: var(--accent-bg);
  width: 8%;
  margin: 1%;
  box-sizing: border-box;
}


.completeStudent .removeButton {
  background-color: var(--accent-bg);
  width: 20%;
  box-sizing: border-box;
}

.completeStudent .removeButton:hover {
  background-color: var(--accent-border);
}