.nn-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0%;

  /* border: 1px solid red; */
}

.nntable {
  flex-shrink: 0;
  border: none;
  padding-bottom: 30px;
}

.nntable .lefttd {
  width: min-content;
}

.nntable input {
  width: 100%;
  box-sizing: border-box;
}


.students {
  flex: 1;
  min-height: 0;
  overflow-y: scroll;
  padding-top: 10px;
}


.incompleteStudent {
  margin: 10px;
  width: auto;
}

.incompleteStudent .studentButton {
  width: 70%;
  box-sizing: border-box;
}

.incompleteStudent .numberLabel {
  width: 10%;
  box-sizing: border-box;
}

.incompleteStudent .numberLabel:hover {
  background-color: var(--bg-light);
}

.incompleteStudent .removeButton {
  width: 20%;
  box-sizing: border-box;
}



.completeStudent {
  margin: 10px;
  width: auto;
}

.completeStudent .studentButton {
  width: 70%;
  box-sizing: border-box;
}
.completeStudent .numberLabel {
  width: 10%;
  box-sizing: border-box;
}

.completeStudent .numberLabel:hover {
  background-color: var(--bg-light);
}

.completeStudent .removeButton {
  width: 20%;
  box-sizing: border-box;
}