.title {
  display: flex;
  flex-direction: column;
  flex-grow: 10%;
  align-items: center;
}

.body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* border: 1px solid blue; */
}

.table {
  
}