.tables {
  font-family: monospace;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tables table {
  border: 1px solid var(--accent);
}

.tables .highlighted_row {
  background-color: yellow;
  color: black
}

.tables h2 {
  padding: 10px;
  margin-top: 50px;
}

.tables thead {
  background-color: var(--accent);
}

.select {
  width: 100%;
}

h5 {
  margin: 0px;
  color: var(--text-muted)
}

.context_menu thead {
  background-color: var(--bg-dark);
  padding: 10px;
}

.context_menu td {
  text-align: left;
}

.context_menu tr:last-child td{
  text-align: center;
}

.massCreateBox {
  width: 100%;
}

.student_review_table {
  width: 100%;
}

.student_review_table thead {
  background-color: var(--bg-dark);
}

.student_review_table td {
  /* max-width: min-content; */
  white-space: nowrap;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.student_review_table tr td:last-child {
  white-space: unset;
  width: 99%;
}

.student_review_table tr:last-child td{
  text-align: center;
}