.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchtable {
  margin-top: auto;
  padding-bottom: 30px;
}

.searchtable .lefttd {
  width: min-content;
}

.searchtable input {
  width: 100%;
  box-sizing: border-box;
}

.searchtable button {
  width: 100%;
  box-sizing: border-box;
}

.searchtable select {
  width: 100%;
  box-sizing: border-box;
}

.searchresult {
  margin-bottom: 5px;
}