.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchtable {
  border: none;
  margin-top: auto;
  padding-bottom: 30px;
  border-collapse: collapse;
}

.searchtable td {
  padding: 2px 0;
}

.searchtable .lefttd {
  width: min-content;
}

.searchtable input {
  width: 100%;
  border-collapse: collapse;
}

.searchtable button {
  width: 100%;
  border-collapse: collapse;
}

.searchtable select {
  width: 100%;
  border-collapse: collapse;
}

.searchresult {
  margin-bottom: 5px;
}